<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/graphs.js"></script>
    <title>Connected Graphs</title>

    <link rel="icon" href="/images/graphs-favicon.ico" />
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/graphsStyle.css}" />
    <title>Connected Graphs</title>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-light  static-top" style="background-color: #177b59 !important;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/images/connectedGraphs.png" alt="">
            </a>
        </div>
    </nav>

    <!-- TODO: include link to GitHub repo source code -->
    <div class="container"><br/>
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert"
               aria-label="close">×</a>
            <strong>Project Source Code: </strong>
            <a target="_blank" href="https://github.com/bss8/verify-graph-connectivity">https://github.com/bss8/verify-graph-connectivity</a>
            <hr/>
            <strong>Select "Connect Vertices"</strong> - edges will be randomly added until the graph is connected.<br/>
            Provide the number of vertices, denoted by N.
            <hr/>
            <strong>Select "Run Simulation"</strong> - a pre-defined simulation for N=2 to N=500 will be executed, with <br/>
            the number of edges it takes to connect the graph (x-axis) plotted against N (y-axis).
        </div>
        <div class="alert alert-warning">
            Try to keep # of vertices (N) under 50 to avoid performance issues. <br/>
            If you do not get a result in ~1min, refresh the page and try again.
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md containerShadow">
                <div class="form-group">
                    <label for="numVertices"></label>
                    <input type="number" min="0" class="form-control" id="numVertices"
                           aria-describedby="numVertices" placeholder="# Vertices (N)" oninput="validity.valid||(value='');" />
                    <small id="numVerticesHelp" class="form-text text-muted">Numeric values only, N >= 2. Undirected (Default)</small>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="directed" checked/>
                    <label class="form-check-label" for="directed">Undirected</label>
                </div>
                <button class="btn btn-primary" id="connectVerticesBtn">Connect Vertices</button>
                <label for="singleGraphResult">Result: </label>
                <input readonly type="text" id="singleGraphResult" placeholder="# edges to connect" />
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm containerShadow">
                <label for="numRuns"></label>
                <input type="number" min="0" class="form-control" id="numRuns"
                       aria-describedby="numRuns" placeholder="# of runs" oninput="validity.valid||(value='');" />
                <button class="btn btn-secondary" id="predefinedSimulationBtn" style="margin-top: 20px;">Run Simulation</button>
                <button class="btn btn-secondary" id="downloadResultsBtn" style="margin-top: 20px;">Download Results</button>

                <br/><br/>
                <p>The pre-defined simulation will execute for N = 2 through N = 500.<br/>
                    It will generate an Excel CSV file with two columns - the value of N and the number of vertices <br/>
                    that it took to connect them. The values will then be plotted in the area below.
                </p>
            </div>
        </div>
        <hr/>

        <div align="center">
            <h2>Number of Expected Edges Given a Number of Vertices</h2>
            <canvas id="canvas" height="400" width="650"></canvas>
            <br>
            <!--Legends for Dataplot -->
            <span style="color:#1648ff"> Directed </span>
            <span style="color:#e39934"> Undirected </span>
        </div>

    </div>

    <br/> <br/> <br/>
    <div class="modal"><!-- Place at bottom of page --></div>
</body>

</html>